@model U5_W2_D5.Models.Prenotazione

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Prenotazione</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataPrenotazione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataPrenotazione)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInizioSoggiorno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInizioSoggiorno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFineSoggiorno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFineSoggiorno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Anno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Acconto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Acconto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prezzo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prezzo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Cellulare)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Camera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Camera.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pensione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pensione.Tipologia)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
